!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*
vendor/bundle
vim/.vim/bundle/*
*.local
!vim/.vim/bundle/Vundle.vim
bundler/.bundle/cache
bundler/.bundle/cache/*
aws/.aws/credentials
*bumblebee*
